body {
  background-color: cadetblue;
}

.formField {
  display: block;
  margin: 100px auto;
}

div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

input {
  margin: 0 0 0 5px;
}

.formOrder {
  text-align: center;
}

.textField {
  display: grid;
  margin: 50px auto;
  grid-template-columns: 1fr 500px 500px 1fr;
  grid-template-rows: 1fr 1fr 90px;
  grid-gap: 20px 80px;
}

.nameBox {
  grid-column: 2/3;
  grid-row: 1/2;
}

.surnameBox {
  grid-column: 3/4;
  grid-row: 1/2;
  justify-self: start;
}

.emailBox {
  grid-column: 2/3;
  grid-row: 2/3;
}

.phoneNumberBox {
  grid-column: 3/4;
  grid-row: 2/3;
  justify-self: start;
}

.submitButton {
  grid-column: 2/4;
  grid-row: 3/4;
  justify-self: center;
}

#submitButton {
  height: 50px;
  width: 100px;
  font-weight: 600;
}

#phoneNumber {
  width: 250px;
}
